<p>SELECTED BUDGET</p>
<h2>Budget Name: <%=@budget.name %></h2>
<h3>Starting Amount: <%=@budget.amount %></h3>
<h3>Current Amount: <%=@budget.current_amount %></h3>
<br>

<p><%= link_to "See Transactions", transactions_path(@budget, :budget_id => @budget.id) %></p>
<p><%= link_to "Edit Budget", edit_budget_path(@budget) %></p>