<p>SELECTED BUDGET</p>
<h2>Budget Name: <%=@budget.name %></h2>
<h3>Starting Amount: <%=@budget.amount %></h3>
<h3>Current Amount: <%=@budget.current_amount %></h3>
<br>

<p><%= link_to "See Transactions", budget_transactions_path(@budget) %></p>
<p><%= link_to "Edit Budget", edit_budget_path(@budget) %></p>
<p><%= link_to "Delete this Budget", budget_path(@budget), method: :delete, data: { confirm: 'Are you sure you want to delete this budget? All of the transactions associated with this budget will also be deleted.' } %></p>