<h3>Transaction Items</h3>
<p></p>
<%= form_for @transaction_item, url: transaction_transaction_items_url(@transaction_item, :transaction_id => @transaction.id) do |f| %>

  <% if @transaction_item.errors.any? %>
    <div id="error_explanation">
      <p>Please see following errors:</p>
      <ul>
        <% @transaction_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="field<%= ' field_with_errors' if @transaction_item.errors[:item_id].any? %>">
	<p>Select Item Type:
	<%= f.collection_select :item_id, @items, :id, :name%></p><br>
	</div>
	
	<div class="field<%= ' field_with_errors' if @transaction_item.errors[:quantity].any? %>">	
	<%= f.label :quantity %><br>
	<%= f.number_field :quantity %><br><br>
	</div>
	
	<div class="field<%= ' field_with_errors' if @transaction_item.errors[:unit_amount].any? %>">		
	<%= f.label :unit_amount %><br>
	<%= f.number_field :unit_amount %><br><br>
	</div>

	<%= f.submit "Add Item" %>
	
	<% end %>
	
		