<h3>Transaction Items</h3>
<p></p>
<%= form_for @transaction_item, url: transaction_transaction_items_url(@transaction_item, :transaction_id => @transaction.id) do |f| %>
	
	<p>Select Item Type:
	<%= f.collection_select :item_id, @items, :id, :name%></p><br>
	
	<%= f.label :quantity %><br>
	<%= f.number_field :quantity %><br><br>
	
	<%= f.label :unit_amount %><br>
	<%= f.number_field :unit_amount %><br><br>

	<%= f.submit "Add Item" %>
	
	<% end %>
	
		