	<h3>Transactions for <%=@budget.name%></h3>
	<h3>Starting Balance: <%=@budget.amount%></h3>
	
	<table class="table">
	<thead><td>Date</td><td>Amount</td><td>Description</td>
		
	<% @transactions.each do |transaction| %>
		<tr>
		<td><%= transaction.date %></td>
		<td><%= transaction.amount %></td>
		<td><%= transaction.description %></td>
		<td><%= link_to "Details", transaction_path(transaction) %></td>
		<%end%>
	</table>
	<p></p>
	<h3>Current Balance: <%=@budget.current_amount%></h3>
	<p>
	<p><%= link_to "Add Transaction", new_budget_transaction_path(@budget) %></p>
	
	<p><%= link_to "Back to Budget", budget_path(@budget.id)%></p>



