
<p>Date: <%= @transaction.date %><p>
<p>Total Amount: <%= @transaction.amount %></p>
<p>Description: <%= @transaction.description %></p><br>

<% @transaction.transaction_items.each do |t_item| %>
<p>Item: <%= t_item.item.name %></p>
<p>Quantity: <%= t_item.quantity %></p>
<p>Unit Amount: <%= t_item.unit_amount %></p><br>
<% end %>
		

<p><%= link_to "Add Items to Transaction", new_transaction_transaction_item_path(@transaction) %></p>
<p><%= link_to "Edit Transaction", edit_transaction_path(@transaction) %></p>
<p><%= link_to "Delete Transaction", transaction_path(@transaction), method: :delete, data: { confirm: 'Are you sure you want to delete this transaction?' } %></p>


