
<p>Date: <%= @transaction.date %><p>
<p>Amount: <%= @transaction.amount %></p>
<p>Description: <%= @transaction.description %></p><br>

<% @transaction.transaction_items.each do |t_item| %>
<%= t_item.item.name %><p>
<%= t_item.quantity %><p>
<%= t_item.unit_amount %><p>
<% end %>
		

<p><%= link_to "Edit Transaction", edit_transaction_path(@transaction) %></p>
<p><%= link_to "Delete Transaction", transaction_path(@transaction), method: :delete, data: { confirm: 'Are you sure you want to delete this transaction?' } %></p>


