<h1><%= @transaction.name %></h1>
<p><%= @transaction.date %><p>
<p><%= @transaction.amount %></p>
<p><%= @transaction.description %></p><br>

<p><%= link_to "Edit Transaction", edit_transaction_path(@transaction) %></p>


